@charset "utf-8";

#one_click_seomation_meta_box .inside p.center
{
	text-align: center;
}

#one_click_seo_static
{
	border-bottom-color: #DFDFDF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	-webkit-box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	box-shadow: 0 1px 0 white;
}